.categories{
  width: 1200px;
  margin:0 auto;
  margin-top:3%;
}
.categories__blocks{
  width: 1200px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color:#3483fa;
}
.categories__blocks__category{
  width: 169px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid rgb(226, 226, 226);
  display: flex;
  flex-wrap: wrap;
}
.categories__blocks__category--changeBackground{
  width: 169px;
  height: 152px;
  color:white;
  text-align: center;
  background-color: #3483fa;
  border:1px solid rgb(226, 226, 226);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
.categories__blocks__category__title--changeBackground{
  width: 100%;
  margin:0%;
  font-size: 15px;
  text-align: center;
  color:white;
  padding: 10px;
}
.categories__blocks__category__icon{
  margin-left: 3px;
}
.icon-categories {
  width: 100%;
  margin-left: 30px;
}
.categories__blocks__category__title{
  width: 100%;
  margin:0%;
  font-size: 15px;
  text-align: center;
  color:black;
  padding: 10px;
}
@media (max-width: 425px) {
  .categories{
    width: 100%;
  }
  .categories__blocks{
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color:#3483fa;
  }
  .categories__blocks__category{
    width: 49%;
    margin:0% auto;
    text-align: center;
    background-color: white;
    border:1px solid rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
  }
  .categories__blocks__category--changeBackground{
    width: 49%;
    height: 170px;
    margin:0% auto;
    text-align: center;
    background-color: #3483fa;
    border:1px solid rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
  }
  .categories__blocks__category__icon{
    margin-left: 20px;
  }
  .categories__blocks__category__icon--changeBackground{
    margin-left: 20px;
  }
  
  .icon-categories {
    width: 100%;
    margin-left: 35px;
  }
  .categories__blocks__category__title{
    margin: 5%;
  }
}

@media (max-width: 320px) {
  .categories__blocks{
    display: none;;
  }
  .categories__leyend__title{
    display: none;
  }
}