section h3{
  font-size: 20px;
}

.container-categories{
  width: 1200px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color:#3483fa;
}

.container-categories-item{
  width: 169px;
  text-align: center;
  margin:0 auto;
  border:1px solid rgb(226, 226, 226);
  display: flex;
  flex-wrap: wrap;
}
.icon-categories {
  width: 100%;
  margin-left: 18px;
}
.container-categories-item h3{
  font-size: 15px;
}
@media (max-width: 425px) {
  .container-categories{
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    color:#3483fa;
  }
  .container-categories-item{
    width: 49%;
    margin:0% auto;
    text-align: center;
    background-color: white;
    border:1px solid rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
  }
  .icon-categories {
    width: 100%;
    margin-left: 35px;
  }
  .container-categories-item h3{
    margin: 5%;
  }
}

@media (max-width: 320px) {
  section h3{
   display: none;
  }
  .container-categories{
    display: none;;
  }
}