.container-footer{
background-color: white;
}

.container-footer-content{
  width: 1200px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}
.container-footer-content-items{
  padding: 25px;
}
.container-footer-down{
  display: flex;
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}
.container-footer-down ul{
  display: flex;
  list-style: none;
  width: 70%;
}
.container-footer-down ul li {
  margin-right: 15px;
}
.container-footer-down h3{
  width: 337px;
  margin:0%;
  margin-top: 13px;
  background-color: yellow;
  font-size: 15px;
  border-radius: 15px;
  padding: 7px;
  cursor: pointer;
}
.descriptionPrimary{
  font-size: 17px;
  color: gray;
}
.descriptionSecondary{
  font-size: 15px;
  color:rgb(52, 131, 250);
}
@media (max-width: 425px) {
  .container-footer{
    width: 100%;
    margin-top: 20%;
  }
  .container-footer-content{
    width: 75.5%;
    display: inline-block;
  }
  .container-footer-content-items{
    width: 85%;
  }
  .container-footer-down{
    display: none;
  }
}