.slider-products{
  margin-right: 5px;
  background-color: white;
  margin:10px;
  box-shadow:1px -1px 2px gray;
  border-radius: 10px;
  transition: 0.5s;
}
.slider-products:hover{
  cursor: pointer;
  box-shadow:2px -1px 5px 1px gray;
  transition: 0.5s;
}
.slider-products img{
  width: 209px;
  height: 224px;
}
.slider-products h3{
 padding: 13px;
 box-sizing:border-box;
 color:rgb(51, 51, 51);
 font-family:"Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 font-size:24px;
}
.leyend-slider{
 color:rgb(102, 102, 102);
 display:block;
 font-family:"Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 font-size:26px;
}

@media (max-width: 425px) {
  .slider-products img{
    width: 100%;
    height: 224px;
  }
  .leyend-slider{
    color:rgb(102, 102, 102);
    display:block;
    font-family:"Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size:20px;
   }
}