.navbar{
  background-color:#fff159 ;
  height: 89px;
  padding-top: 12px;
}
.navbar__hidden{
  display: none;
}
.navbar__high{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navbar__high__input--meli{
  width: 25%;
}
.navbar__high__block{
  width: 50%;
}
.navbar__high__input--coronavirus{
  width: 30%;
}
.navbar__high__img--logo{
  width: 134px;
  height: 34px;
}
.navbar__high__block{
  width: 80%;
}
.navbar__high__input{
  width: 570px;
  height: 35px;
}
.navbar__high__block{
  width: 60%;
  margin-right: 65px;
  height: 39px;
  text-align: center;
  display: flex;
}
.navbar__high__input{
  font-size: 16px;
  line-height: 21px;
  border:1px solid white;
  box-shadow: 0px 1px 2px gray;
}
.navbar__high__input::placeholder{
  padding: 10px;
  background-color: white;
  color: rgb(202, 197, 197);
  font-size: 16px;
}
.navbar__high__block__icon{
  height: 36.5px;
  width: 30px;
  background-color: white;
  border-left: 1px solid black;
  border:1px solid white;
  box-shadow: 0px 1px 2px gray;
}
.navbar__high__icon{
  width: 2%;
  color:rgb(167, 167, 167);
  height: 100%;
  margin-top: 13px;
  margin-right: 14px;
}















.navbar__down{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navbar__down__send{
  width: 12%;
  display: flex;
}
.navbar__down__list--center{
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: right;
  margin-right: 40px;
}
.navbar__down__list--right{
  width: 38%;
  display: flex;
  list-style: none;
  padding: 0%;
}
.navbar__high__img--coronavirus{
  width: 340px;
  height: 39px;
}
.navbar__down__list--right__item{
  margin-left:30px;
}
.navbar__down__list--center a{
  color:rgba(51,51,51,.6);
  list-style: none;
  text-decoration: none;
  font-size: 14px;
}
.navbar__down__list--right a{
  color:rgba(39, 38, 38, 0.6);
  list-style: none;
  text-decoration: none;
  font-size: 15px;
}
.navbar__down__list--center__icon--user{
  color:rgba(39, 38, 38, 0.6);
}
.navbar__down__block{
  width: 100%;
}
.navbar__down__send__icon{
  margin-top: 14px;
  margin-right: 5px;
  color:rgba(39, 38, 38, 0.6);
}
.navbar__down__block__description{
  position: absolute;
  margin-top:10px;
  font-size: 12px;
  color:rgba(29, 28, 28, 0.6);
  font-family: 'Raleway', sans-serif;
}
.navbar__down__block__title{
  color:rgba(39, 39, 39, 0.6);
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}
@media (max-width: 425px) {
  .navbar__high, .navbar__down{
    display: none;
  }
  .navbar__hidden{
    display: inline;
  }
  .navbar__high__left__hidden,
  .navbar__high__right__hidden{
    width: 10%;
  }
  .navbar__high__center__hidden{
    width: 70%;
  }
  .navbar__high__block__hidden{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .navbar__high__input--hidden{
    width: 100%;
    height: 32px;
    font-size: 16px;
    line-height: 21px;
    border:1px solid white;
    box-shadow: 0px 1px 2px gray;
    border-radius: 2px;
  }
  .navbar__high__input--hidden::placeholder{
    padding: 10px;
  }
  .navbar__high__icon__hidden{
    font-size: 20px;
    margin-top: 8px;
    margin-left: 10px;
    color:rgb(145, 142, 142);
  }
  .navbar__high__block__down__hidden{
    display: flex;
    justify-content: space-between;
    margin-top:2%;
    border-top:1px solid rgb(167, 167, 167);
  }
  .navbar__high__title__left__hidden{
    margin-left: 7px;
  }
  .navbar__high__icon__down__hidden{
    margin-top: 20px;
    margin-right: 15px;
    color:rgb(145, 142, 142);
  }
  .navbar__high__left__send__hidden{
    display: flex;
    width: 100%;
  }
  .navbar__high__icon__left__hidden{
    margin-top: 5%;
    margin-left: 4%;
    color:rgb(145, 142, 142);
  }
}

