.navbar-container-navbar{
  background-color:#fff159 ;
  height: 100px;
  padding-top: 10px;
}
.navbar-high, .navbar-down{
  display: flex;  
  justify-content: space-between;
  height: auto;
  max-width: 1200px;
  margin:0 auto;
}
.navbar-input-search{
  font-size: 16px;
  line-height: 21px;
  width: 598px;
}

.navbar-img-logo{
  height: 34px;
  top: 11px;
  width: 134px;
}
.navbar-img-coronavirus{
  max-width: 340px;
  max-height: 39px;
}
.navbar-send{
  width: 10%;
}
.hidden{
  display: none;
}
.navbar-list-center{
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.navbar-list-right{
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.navbar-burguer{
  display: none;
}
.navbar-item-array-center, .navbar-item-array-right{
  line-height: 22px;
  font-size: 14px;
  color: rgba(51,51,51,.6);
}

@media (max-width: 425px) {
  .navbar-container-navbar{
    width: 100%;
    height: 90px;
  }
 .navbar-img-coronavirus{
   display: none;
 }
 .navbar-list-center, .navbar-list-right{
  display: none;
 }
 .navbar-send{
  display: none;
}
 .hidden{
   width: 100%;
   display: flex;
   justify-content: space-between;
   font-family:"Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
   color:rgb(115, 108, 40);
 }
 .hidden div{
   display: flex;
 }
 .hidden div h4{
   margin-right:8px;
   margin-left: 8px;
 }
 .navbar-img-logo{
  display: none;
 }
 .icon-hidden-one{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
  color:rgb(115, 108, 40);
 }
 .navbar-input-search{
   width: 69%;
   height: 30px;
 }
 .navbar-burguer{
   display: inline;
   width: 10%;
   list-style: none;
   color:rgb(115, 108, 40);
  }
  .icon-hidden-one,.icon-hidden-two {
    margin-top: 10px;
    margin-right: 11px;
    font-size: 20px;
  }
}