.container-discovery{
  display: flex;
  width: 1200px;
  margin:0 auto;
}
.discovery-left, .discovery-right{
  display: flex;
  margin:10px;
  border-radius: 5px;
}
.discovery-left img, .discovery-right img{
  width: 280px;
  height: 250px;
}
.discovery-left div, .discovery-right div{
  width: 290px;
  height: 250px;
  background-color: white;
}
.discovery-leyend{
  width: 1200px;
  margin:0 auto;
  margin-top:25px;
}