.collections{
  width: 1200px;
  margin: 0 auto;
  margin-top: 3%;
}
.collections__block{
  display: flex;
}
.collections__block__left{
  width: 40%;
  background-color: white;
  border-radius: 5px;
}
.collections__block__left__img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
}
.collections__block__left__title{
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 5%;
}
.collections__block__left__description{
  font-size: 25px; 
  text-transform: uppercase; 
  margin-left: 5%;
  font-family: 'Raleway', sans-serif;
}
.collections__block__right{
  width: 100%;
  flex-wrap: wrap;
}
.collections__block__right__img{
  width: 184px;
  height: 184px;
  margin:12px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
}
.collections__block__left:hover, 
.collections__block__right__img:hover{
  box-shadow: 0px 0px 13px 3px rgb(201, 201, 201);
  cursor: pointer;
}

@media (max-width: 425px) {
  .collections{
    width: 100%;
    margin-top: 20%;
  }
  .collections__block{
    display: inline-block;
  }
  .collections__block__left{
    width: 95%;
    margin: 0 auto;
  }
  .collections__block__right{
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .collections__block__right__img{
    width: 40%;
    margin-left: 25px;
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .collections{
    margin-top: 20%;
  }
  .collections__block{
    display: inline-block;
  }
  .collections__block__right{
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .collections__block__right__img{
    width: 38%;
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .collections{
    display: none;
  }
}