.container-primary{
  width: 1200px;
  margin: 0 auto;
}

.container-collection{
  display: flex;
}
.container-left{
  width: 30%;
}
.container-left img{
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
}
.container-right{
  width: 70%;
  flex-wrap: wrap;
}
.container-right img{
  width: 184px;
  height: 184px;
  margin:12px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
}
.container-left:hover, .container-right img:hover{
  box-shadow: 0px 0px 13px 3px rgb(201, 201, 201);
  cursor: pointer;
}

@media (max-width: 425px) {
  .container-primary{
    width: 100%;
    margin-top: 20%;
  }
  .container-left{
    width: 95%;
    margin: 0 auto;
  }
  .container-collection{
    display: inline-block;
  }
  .container-right{
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .container-right img{
    width: 179Xpx;
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .container-primary{
    margin-top: 20%;
  }
  .container-collection{
    display: inline-block;
  }
  .container-right{
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .container-right img{
    width: 150px;
    flex-wrap: wrap;
  }
  .container-right img{
    width: 163px;
    flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .container-primary{
    display: none;
  }
}